body {
  background-color: #fddddb;
  margin: 0;
  font-family: "Prompt", sans-serif;
}

.square {
  width: 30%;
  background: #000000;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 50%;
  transition: background 1s;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
}

#container {
  margin: 20px auto;
  max-width: 600px;
}

h2 {
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 0.7;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  color: white;
  background: #fddddb;
  border: none;
}

a:link {
  text-decoration: none;
}

h1 {
  text-align: center;
  line-height: 1.3;
  color: white;
  text-align: center;
  background: #fddddb;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 70px;
}

#colorDisplay {
  font-size: 80px;
}

#message {
  display: inline-block;
  width: 20%;
  color: #f5adc5;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

#banner {
  background: white;
  height: 50px;
  text-align: center;
  color: white;
  margin-bottom: 25px;
}

.selected {
  color: white;
  background: #fddddb;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-size: 15px;
  font-weight: 700;
  color: #f5adc5;
  letter-spacing: 1.5px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

button:hover {
  color: white;
  background: #fddddb;
}
