body {
  background-image: url(backgroundimg.png);
  background-size: cover;
  /* #fddddb */
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  width: 100%;
  font-family: "Prompt", sans-serif;
}

h1 {
  color: white;
  font-size: 160px;
  font-weight: 600;
  line-height: 0.7;
  margin-top: 40px;
  margin-bottom: 20px;
}

#buttons {
  text-align: center;
  position: relative;
}

.btnGen {
  background: none;
  border: 5px solid white;
  border-radius: 50%;
  font-size: 25px;
  top: 50%;
  width: 160px;
  height: 160px;
  margin: 0px 40px;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: center;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  cursor: pointer;
}

.button1:hover {
  background: thistle;
  border: 7px solid white;
  border-top-color: thistle;
  animation: spin 2s linear infinite;
}

/* .button1 > span:hover {
  display: block;
  animation: no-spin 2s linear infinite;
} */

.button2:hover {
  color: white;
  background: palevioletred;
  border: 7px solid white;
  border-top-color: palevioletred;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes no-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-image: url(dirimg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  /* add media query */
  margin: 15% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 0.6s;
}

.model-header h2 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top: 20px;
}

.model-header {
  background: #fddddb;
  color: white;
  height: 60px;
}

.modal-body {
  padding: 10px 20px;
}

.closeBtn {
  color: #ffffff;
  float: right;
  font-size: 40px;
  padding-right: 20px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
